* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shopContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}

.categoriesContainer {
    padding-top: 5rem;
    align-items: center;
}

.categoriesContainer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoriesContainer li {
    list-style: none;
    font-size: 1rem;
    cursor: pointer; 
}

.colors{
    
    width: 30px;
    height: 30px;
    background-color: rgb(151, 143, 148);
    border-radius: 1rem;
    
}
.colors #color-index1{
    color:aquamarine;
}

.ratingStars{
    display: flex;
    flex-direction: row;
}

.categoryholder {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.shopImage img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.shopItemCards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

.shopItems, .shopItems2, .shopItems3 {
    background: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

/* .shopItems:hover, .shopItems2:hover, .shopItems3:hover {
    visibility: visible;
} */

.shopItems img, .shopItems2 img, .shopItems3 img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 8px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: #555;
}

.star {
    color: gold;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.sortTag{
    display: flex;
    flex-direction: row;
    gap: 28rem;
}
.sortTag .sortByPreferences{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sortTag button{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;   

}

@media (max-width: 768px) {
    .shopContainer {
        flex-direction: column;
        align-items: center;
    }
    
    .categoriesContainer {
        width: 100%;
        text-align: center;
    }

    .CardContainer {
        width: 100%;
    }
}
