.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 7rem;
    background-color: black;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.stayUpdated h2 {
    margin-bottom: 1rem;
}

.stayUpdated p {
    font-size: 1rem;
    color: white;
    margin-bottom: 1.5rem;
}
.newsletter {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5;
}
.newsletter input {
    flex: 1;
    padding: 0.8rem;
    font-size: 1rem;
    background: none;
    border: none;
    
}

.newsletter button {
    padding: 0.8rem 1.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    }
.Lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5rem;
}

.Lists ul{
    display: flex;
    flex-direction: column;
}
.Lists li{
   color: #666;
   font-size: medium;
   list-style: none;
   padding-top: 1rem;
}
.socialMediaIcons{
    
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    
}
.address {
    line-height: 1.8;
    max-width: 300px;
}

.address h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footerContacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;
}

.paymentSponsors {
    text-align: center;
}

.paymentSponsors h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.paymentSponsors img {
    max-width: 200px;
    height: auto;
}
